VERIFY_TOKEN=my_verify_token_123
WHATSAPP_TOKEN=EAAOCIp9UfjUBRR8Dgd7uR7yVSCfX9FVrB7PbfqmBV6PsL9z5xlr1zL4nFh8LmyZCkOJYJ2kcL1UOqTbzZAL33ZC8aDiVnYjNBJINy4kuZCJAjWiBi7ZA4o4PejCDomwGw6FWBkUkPWQMURcEKPJzQsl6SsB4IlkGD4ANqN90mGogYZA8nbdv8ttHgVyTSS2F3NVDw9mzVeTZBD1CO0H6SBkXSZCMGHCNETgpuRua2Ti2VK4v8IBZA21cUqQTI37vkwZCPFzfllH60ZAd7ZChJmpWENn7
PHONE_NUMBER_ID=1135715436283658
GEMINI_API_KEY=AIzaSyC_bZlhj3UshuwBkQhuKUOTullVLad1czA