VERIFY_TOKEN=my_verify_token_123
WHATSAPP_TOKEN=EAAOCIp9UfjUBRY3a2gOr5DWGMQgKFtsgR8NCJ16YvpIFohpEAuPHi3Ecsf1coTKYu1DGGnDxtzSiYye1KyZAZAr60mkwy2pKajerLnXW1ZBzxLXCAuCrw0pfuaTwLLLhR090hwDMZBManLqQwiuZBDcEnqCYqPtDgKxyMfl5Pj6FIXcPh6WHXOJeUX9uCkLGXVVsPsASL3mjlazsoZBIGghwTu49YefZCA1jpY7GDrWMZC2MfeLD5QupVF72guNzMKYQmQYIkZAWAgUANYZB5KZBsZB1
PHONE_NUMBER_ID=1135715436283658
GEMINI_API_KEY=AIzaSyC_bZlhj3UshuwBkQhuKUOTullVLad1czA